@font-face {
	font-family: "Gandhi Serif";
	src: url(../gandhi-serif/GandhiSerif-Regular.otf);
}

html {
	min-height: 100%;
	body {
	  h1, h2, h3, h4, h5 {
		  color: #4e9990;
	  }
	  background: black;
	  background-size: cover;
	  height: 1080px;
	  font-family: 'Gandhi Serif', Georgia, serif;
	  padding: 0;
	  margin: 0;
	  .container {
	    position: relative;
	    min-height: 100%;
	    overflow: hidden;
		.header {
	      text-align: center;
        }
	    .jumbotron {
	      height: 750px;
	      background: rgba(100, 100, 100, 0.0);
		  .nav {
	        width: 100px;
			ul {
	          list-style-type: none;
			  li {
	            text-align: center;
              }
            }
          }
		  .main .col-xs-6 .col-md-4 {
	        display: inline-block;
          }
        }
		.footer {
	      position: absolute;
	      height: 30px;
	      width: 100%;
	      right: 0;
	      left: 0;
	      bottom: 0;
		  p {
	        position: relative;
	        bottom: 8px;
	        color: rgba(159, 234, 220, 0.67);
	        text-align: right;
	        margin-right: 20px;
	        margin-bottom: 10px;
          }
        }
      }
	}
}