body {
	/* Old browsers */
	background: #141E30;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, #35577D, #141E30);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, #35577D, #141E30);
}

h1 {
  color: #FFF;
  font-size: 2em;
  padding-top: 100px;
  width: 100%;
}

p {
  color: AliceBlue;
  line-height: 1.3em;
  text-align: left;
  width: 100%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}

li {
	float: left;
}

li a {
    display: block;
	color: #666;
	text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
	background-color: #111;
}

.active {
	background-color: #4CAF50;
}
